/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
body {
	margin: 0 100px;
}

header {
	padding: 40px 0;
	/* background: orange; */
}

header nav a {
	color: grey;
	padding: 10px 25px;
	text-decoration: none;
	/* background-color: greenyellow; */
}

header nav a:first-child {
	padding-left: 0;
}

header .logo {
	position: relative;
	/* background-color: green; */
	margin-left: 80%;
	margin-top: -20px;
}

.top-div {
	/* background-color: lightblue; */
	border-bottom: 2px solid black;
	display: block;
	height: 500px;
}

.top-div h1 {
	display: inline-block;
	font-size: 80px;
	/* background-color: green; */
	height: 250px;
	width: 350px;
	text-align: center;
	margin-top: 80px;
	margin-left: 15%;
}

.top-div span {
	display: block;
	height: 30px;
	width: 150px;
	padding: 5px 35px;
	box-sizing: border-box;
	border: 1px solid black;
	margin-left: 25%;
}

.top-div img {
	position: relative;
	margin-left: 60%;
	margin-top: -320px;
}

.top-section {
	/* background: orange; */
	display: inline-block;
	column-count: 2;
	padding: 40px 0;
}

.middle-img {
	display: block;
	width: 100%;
}

.bottom-section {
	/* background: lightblue; */
	column-count: 3;
	padding: 40px 0;
}

footer {
	/* background: orange; */
	padding: 40px 0 100px;
	border-top: 2px solid black;
}

footer span {
	display: block;
	height: 40px;
	width: 280px;
	text-align: center;
	padding-top: 10px;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
}